/*повторное использование*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
html{
	--primary-100:#C4ECC3;
	--primary-200-clickable:#9CDF9A;
	--primary-300:#79CF76;
	--primary-400-main:#61C35A;
	--primary-500:#4EA448;
	--primary-600-subheader:#40843C;
	--primary-700:#286124;
	--primary-800:#1C4519;
	--primary-900-text:#163914;

	--secondary-50:#B6E4D0;
	--secondary-100-text:#96C2AF;
	--secondary-200:#71AA91;
	--secondary-300-subelement:#5A8C77;
	--secondary-400:#517465;
	--secondary-500:#456356;
	--secondary-600:#354E43;
	--secondary-700-light-backing:#2C463A;
	--secondary-800-background:#1E2C26;
	--secondary-900-dark-backing:#15211C;

	--disable-50:#EEF3EE;
	--disable-100:#D0DFCF;
	--disable-200:#B1CAB0;
	--disable-300:#A0B09F;
	--disable-400:#899988;
	--disable-500:#627661;
	--disable-600-non-clickable:#566B5B;
	--disable-700:#3A4D40;
	--disable-800-light-backing:#2E3D36;
	--disable-900:#1C221E;

	--error-300-error:#FA7971;
	--error-400-error:#EB564D;
	--error-500-miss:#9C2F28;
	--outline-400:#EEFF25;
	
	--cont-width:68.8rem;
	--cont-profile-width:61.1rem;

	--glow-button-L-primary:0px 0px 20px rgba(78, 164, 72, 0.4);
	--glow-button-M-primary:0px 0px 10px rgba(78, 164, 72, 0.5);
	--glow-button-L-light:0px 0px 25px rgba(191, 239, 189, 0.4);
	--glow-button-M-light:0px 0px 10px rgba(219, 243, 237, 0.4);
	--glow-button-error-normal:0px 0px 8px rgba(218, 78, 78, 0.7);
	--glow-button-error-light:0px 0px 10px rgba(255, 153, 153, 0.7);
	--glow-arrow-selected: 0px 0px 4px #E8FFF5, 0px 0px 6px #B6F3E5;


	--box-shadow-bright:0.5rem 0.5rem 0.5rem rgba(65, 137, 95, 0.5);
	--box-shadow-input: 0.3rem 0.3rem 0.3rem rgb(28, 34, 30, 0.7);
	font-size: 16px;
	height:100%;
}

.body2{
	margin:0;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.13rem;
	background:var(--secondary-800-background) repeat url(../../img/index/bg_cell.png);
	color:var(--secondary-100-text);
	min-width: 320px;
	height: 100vh;
	display:flex;
	flex-direction: column;
	justify-content: space-between; 
	box-sizing: border-box;
	align-items: center;
}
.interface{
	width:100%;
	display:flex;
	justify-content:space-between;
	padding: 1rem;
	box-sizing: border-box;
}
button{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.13rem;
	border:none;
	cursor:pointer;
}
.button-icon{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:1rem;
}

/*--------------------новые стили кнопок-------------------------*/

.button-secondary-bright{
	background-color: var(--secondary-800-background);
	color:var(--primary-400-main);
	outline: solid var(--primary-400-main) 2px;
}

.button-secondary-bright:hover{
	color:var(--primary-200-clickable);
	outline-color:var(--primary-200-clickable);
	box-shadow: var(--glow-button-M-primary);
}

.button-secondary-bright:active{
	color:var(--primary-600-subheader);
	outline-color:var(--primary-600-subheader);
}
.button-secondary-bright:disabled{
	background-color:var(--disable-800-light-backing);
	color:var(--disable-600-non-clickable);
	outline-color:var(--disable-600-non-clickable);
	box-shadow: none;
}
.button-secondary-bright-fill{
	color: var(--primary-900-text);
	background-color:var(--primary-400-main);
}

.button-secondary-bright-fill:hover{
	background-color:var(--primary-200-clickable);
	box-shadow: var(--glow-button-M-primary);
}

.button-secondary-bright-fill:active{
	color:var(--primary-600-subheader);

}
.button-secondary-bright-fill:disabled{
	background-color:var(--disable-800-light-backing);
	color:var(--disable-600-non-clickable);
	outline-color:var(--disable-600-non-clickable);
	box-shadow: none;
}

.button-start-mission{
	min-width: 5rem;
	padding: 1rem 1.5rem;
}


/*конец*/

.button-content-center{
	display:flex;
	justify-content: center;
	align-items: center;
}

.icon-interface{
	min-height: 3.5rem;
	min-width:3.5rem;
	padding: 0;
	outline: none;
	box-shadow: var(--box-shadow-input);
}

.icon-message{
	background-color: var(--secondary-700-light-backing) ;
}


.interface__function__info{
	position: absolute;
	top:6rem;
	display: flex;
	flex-direction: column;
	gap:0.6rem;
	align-items: flex-start;
}
.interface__function-big-gap{
	gap:1.5rem;
}

.icon-info{
	background-color: var(--secondary-900-dark-backing) ;
}

.icon-element{
	color: var(--secondary-100-text);
	background-color:  var(--secondary-900-dark-backing) ;
	outline:  solid var(--secondary-100-text) 1px;
}
.cell{
	display:flex;
	flex-direction: column;
	font-size: 14px;
}

.selected-element-wrapper{
	display:flex;
}

.selected-element-medium{
	display:grid;
	grid-template-columns: 2.2fr 4fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 1.8rem;
	grid-row-gap: 1rem;
	box-sizing: border-box;
}

.collapse-vertical{
	background-color: var(--secondary-900-dark-backing);
	height: 3.5em;
    width: 1.375rem;
    padding: 3px;
    box-sizing: border-box;
	visibility: hidden;
}
.element-preview{
	
	outline: solid var(--secondary-100-text) 2px;
	grid-area: 1 /1/ 3 /2;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.8rem;

}
.element-preview__symbol{
	align-self: center;
}

.selected-element__name,.selected-element__number{
	display:flex;
	flex-direction: column;
	gap:0.3rem;
}

.ammunition{
	display:flex;
	align-items: center;
	gap:0.8rem;
}
.ammunition__img{
	height: 2.25rem;
	width: 2.25rem;
}

.interface__function__element{
	display:none;
}


.players{
	display:grid;
	grid-template-columns: repeat(3, min-content);
	gap:0.5rem;
}

.player{
	background-color: var(--disable-800-light-backing) ;
	padding:0.5rem;
	width:19.93rem;
	height: min-content;
	display:flex;
	align-items: center;	
	gap:1rem;
	box-shadow: var(--box-shadow-input);
}

.player__avatar{
	opacity: 0.7;
	height: 3rem;
	width:3rem;
}

.player__info{
	display: flex;
	flex-direction: column;
	gap:0.5rem;
}

.player__info__status{
	display:flex;
	gap: 0.5rem;
	align-items: center;
}
.circle {
	height: 0.5em;
	width:0.5em;
	border-radius: 50%;
}

.online{
	background-color: var(--primary-200-clickable);
}
.text-online{
	color:var(--primary-200-clickable);
}
.offline{
	background-color: var(--error-400-error);
}
.text-offline{
	color:var(--error-400-error);
}

.sputnik-img{
	height: 4rem;
}

.icon-scaling{
	min-height: max(2.2rem,30px);
	min-width:max(2.2rem,30px);
	background-color: var(--secondary-700-light-backing) ;
	padding: 0;
	height:min-content;
	outline: none;
}

.icon-scaling:hover{
	background-color: var(--secondary-500) ;
}
.icon-scaling:hover{
	background-color: var(--secondary-700-light-backing) ;
}
.icon-scaling:disabled{
	background-color: var(--disable-900) ;
}

.interface-exit{
	width:100%;
	display:flex;
	/* justify-content:space-between;  */
	justify-content: right;
	padding:1rem;
	box-sizing: border-box;
	max-height: 2rem;
}
.diagram-container{
	overflow: auto;
    max-width: 100%;
}
.diagram{
	width: 1166px;
	height: 482px;

}
.button-exit{
	background-color: var(--secondary-800-background) ;
	color: var(--primary-200-clickable);
	outline:  solid var(--primary-200-clickable) 1px;
	font-size:1rem;
	padding: 0.2em 0.4em;
	text-transform: uppercase;
}

.button-exit-position{
	position:absolute;
	left:1rem;
	bottom:1rem;
}

.button-exit:hover{
	color: var(--primary-100);
	box-shadow: var(--glow-button-L-light);
}
.button-exit:active{
	color: var(--primary-100);
	color:var(--primary-900-text);
	background-color:var(--primary-400-main);
}
.icon-small{
	height: 33px;
	width: 33px;
}
.icon-tiny{
	height: 24px;
	width: 24px;
}
.icon-mini-tiny{
	height:18px;
}


/*выбор кораблей и боеприпасов*/


.diagram-fill-bar{
	display: flex;
	align-items: flex-end;
	gap:1rem;
}

.cell-selection-panel{
	background-color: var(--disable-800-light-backing);
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	display: flex;
	align-items: center;
	gap:8px;
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 700;
	color: var(--primary-400-main);
}
.ship-name{
	text-shadow: var(--glow-button-M-primary);
}
.selected-block{
	display: flex;
	padding:0.1rem;
}
.diagram-box{
	width:50px;
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.6rem;
	box-sizing: border-box;
}

.diagram-box-empty{
	background-color: transparent;
	border: 2px solid var(--disable-700);
	color:var(--disable-100);
	box-shadow:none;
}

.diagram-box-zoom{
	
	background-color: var(--secondary-800-background);
	border: 2px solid var(--primary-600-subheader);
}
.arrow-spin{
	height:100%;
	background-color: transparent;
	padding: 0;
}
.icon-arrow-spin{
	height: 100%;

}
.arrow-spin-cheked{
	fill:var(--primary-300);
}
.icon-arrow-spin:hover{
	filter:url(#shadow);
}
.icon-flip{
	transform: rotate(180deg);
}

.block-selection-panel{
	display:flex;
	flex-direction: column;
	align-items: flex-end;
}

.diagram-elements-selection{
	background-color: var(--disable-800-light-backing);
	padding:0.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:1.8rem;
}
.collapse-horizontal{
	width:56px;
	height:22px;
	background-color: var(--secondary-600);
	padding:3px;
	box-sizing: border-box;
}
.collapse-horizontal__icon{
	height: 100%;
}
.collapse-vertical__icon{
	width: 100%;
}
.flip-90{
	transform: rotate(-90deg);
}
.select-switch{
	display: flex;
	justify-content:space-between;
	gap:0.8rem;
}

.select-switch__button{
	min-width: 132px;
	min-height: 30px;
	background-color: var(--secondary-800-background);
	color:var(--primary-100);
}

.select-switch__button.switched{
	background-color: var(--primary-600-subheader);
}
.block-selection{
	display:grid;
	grid-template-columns: repeat(7,32px); /*2rem*/
	grid-template-rows:repeat(4,32px);
	gap:0.8rem;
}

.block-selection__button{
	padding:0.2rem;
	background-color: var(--secondary-800-background);
	color:var(--secondary-200);
}
.block-selection__button:hover{
	background-color: var(--primary-700);
	color: white;
	box-shadow:var(--glow-arrow-selected);
}

.block-selection__button:disabled{
	background-color: transparent;
	border: 2px solid var(--disable-700);
	color:var(--disable-100);
	box-shadow:none;
}

.block-selection__button:default{
	background-color: var(--disable-700);
	color:var(--secondary-200);
}

.block-selection__button:active{
	background-color: var(--secondary-800);
	color:var(--primary-600-subheader);
}

.selection-completely{
	background-color: var(--secondary-200);
	color:var(--disable-900);
}
.selection-partially{
	background: linear-gradient(to top right,#71AA91 50%, #517465 50%);
	color:var(--disable-900);
}




/* --------------------СТИЛИ ТЕКСТА- будут редачиться при уменьшении экрана----------------- */
.text-bold-T-Big{
	font-family: 'Montserrat';
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%;
}
.text-bold-T-Medium{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 100%;
}
.text-reg-T-r-Medium{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 100%;
	letter-spacing: 0;
}

.text-bold-T-Small{
	font-family: 'Montserrat';
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.01rem;
	line-height: 120%;
}
.text-bold-T-Tiny{
	font-family: 'Montserrat';
	font-size: 10px;
	font-weight: 700;
	line-height: 12px;
	letter-spacing: 0.08rem;
	text-align: left;
	
}
.text-icon{
	font-family: 'Montserrat';
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.08em;
	line-height: 12px;
}

.text-reg-T-m-Normal{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	letter-spacing: 0.02rem;
}

.text-reg-T-m-Small{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 120%;
	letter-spacing: 0.02rem;
}

.text-reg-T-m-Tiny{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 120%;
	letter-spacing: 0.08rem;
}
.text-long-Lt-Small{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 132%;
	letter-spacing: 0.05rem;
}
.text-header-bold-h4{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}
.text-bold-T-XL {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 120%;
}

.truncate-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width:13rem;
}
.text-wrap{
	width: min-content;
	text-align: left;
}

.text-error{
	color:var(--error-300-error);
}

.text-button-B-Medium{
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.text-button-B-Little{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 120%;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

.text-button-B-Tiny{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 120%;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

/* -------------------------СКРОЛЛ уже есть----------------------------------- */
/* дизайн прокрутки в chrome и opera */
::-webkit-scrollbar {
	width: 8px;
	height:8px;
}
::-webkit-scrollbar-track {
	background-color:var(--disable-500);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color:var(--primary-200-clickable);
}

::-webkit-scrollbar-thumb:hover {
	background-color:var(--primary-100);
}
::-webkit-scrollbar-thumb:active {
	background-color:var(--primary-300);
}

@media screen and (max-height: 1366px) and (max-width:1570px){
	html{
		font-size:14px;
	}
	.text-bold-T-Small{
		font-size:12px;
	}
	.text-header-bold-h4{
		font-size:18px;
	}
	.text-bold-T-XL{
		font-size:32px;
	}
	.text-bold-T-Big{
		font-size:20px;
	}
	.text-long-Lt-Small{
		font-size:12px;
	}
	.text-reg-T-m-Small{
		font-size:14px;
	}
	.text-button-B-Medium{
		font-size:15px;
	}
}


@media screen  and (max-width:1400px){
	html{
		font-size:10px;
	}
	.text-bold-T-XL{
		font-size:24px;
	}
	.text-bold-T-Big{
		font-size:15px;
	}
	.text-header-bold-h4{
		font-size:16px;
	}
	.text-bold-T-Small{
		font-size:9px;
	}
	.text-reg-T-m-Small{
		font-size:10px;
	}
	.text-reg-T-m-Normal{
		font-size:10px;
	}
	.text-long-Lt-Small{
		font-size:10px;
	}
	.selected-element__name, .selected-element__number {
		gap: 0;
	}
	.icon-small{
		height: 18.7px;
		width: 18.7px;
	}
	.text-button-B-Medium{
		font-size: 11.25px;
	}
	.text-button-B-Tiny{
		font-size: 6.25px;
	}
	.icon-tiny{
		height: 20px;
		width: 20px;
	}
}

@media screen and  (max-width:1024px){
	.player{
		width: 16rem;
	}
	.truncate-text {
		width:10rem;
	}
	.move-target, .move-info{
		display: none;
	}
	.move-info-vertical{
		display: flex;
	}
	/* переместить иконки хода */
}

@media screen and  (max-width:812px){
	.sputnik-img{
		width: 72px;
		height:36px;
		object-fit: cover;
	}

	.interface__function__element{
		display:block;
	}
	.selected-element{
		visibility: hidden;
	}
	.collapse-vertical{
		visibility:visible;
	}
	.selected-element-wrapper{
		 display: none; 
	}
	.selected-element-medium{
		background-color: var(--secondary-900-dark-backing);
		padding: 0.8rem;
	}
	.text-button-B-Medium{
		font-size:11.25px;
	}
	.button-start-mission{
		padding: 0;
		display: flex;
		align-items: center;
		min-height: 3.5rem;
		min-width: 3.5rem;
	}
	.start-mission-text{
		display:none;
	}
	
}

@media screen and (max-height: 375px) and (max-width:812px){
	.interface{
		background-image: none;
		background-color: var(--secondary-800-background);
	}

	.interface-exit{
		justify-content:space-between; 
	}

	.button-exit{
		position:static;
	}
}

@media screen and  (max-width:520px){
	.sputnik-img{
		grid-row: 1 / 3;
		grid-column: 2/3;
		display: flex;
		align-self: center;
		width: 36px;
		height:36px;
	}
	.players{
		grid-template-columns:  repeat(2, min-content);
		column-gap: 2rem;
	}
	.icon-tiny{
		height: 14px;
		width: 14px;
	}
}