.body2{
	margin:0;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.13rem;
	background:var(--secondary-800-background) repeat url(../../img/index/bg_cell.png);
	color:var(--secondary-100-text);
	min-width: 320px;
	height: 100vh;
	display:flex;
	flex-direction: column;
	justify-content: space-between; 
	box-sizing: border-box;
	align-items: center;
}
.body-padding{
	padding: 1rem;
}

.body-center{
	justify-content: center;
}
