button{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.13rem;
	border:none;
	cursor:pointer;
}
.button-icon{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:1rem;
}
.button-content-center{
	display:flex;
	justify-content: center;
	align-items: center;
}

/*главные кнопки*/
.button-primary{
	background-color:var(--primary-400-main);
	color:var(--primary-900-text);
	outline: solid var(--primary-400-main) 2px;
}

.button-primary:hover{
	background-color:var(--primary-200-clickable);
	box-shadow: var(--glow-button-L-light);
	outline-color:var(--primary-200-clickable);
}

.button-primary:active{
	background-color:var(--primary-600-subheader);
	color:var(--primary-900-text);
	outline-color:var(--primary-600-subheader);
}
.button-primary:disabled{
	background-color:var(--disable-900);
	color:var(--disable-500);
	outline-color:var(--disable-900);
}

/*кнопки с иконками (например, на странице результата)*/
.button-primary-bright{
	background-color:var(--primary-200-clickable);
	color:var(--primary-900-text);
	fill:var(--primary-900-text);
}
.button-primary-bright:hover{
	background-color:var(--primary-100);
}
.button-primary-bright:active{
	background-color:var(--primary-200-clickable);
}
.button-primary-bright:disabled, .button-tertiary:disabled{
	background-color:var(--disable-800-light-backing);
	color:var(--disable-600-non-clickable);
	fill:var(--disable-600-non-clickable);
}

/*третьестепенные*/
.button-tertiary{
	background-color:var(--disable-800-light-backing);
	color:var(--primary-300);
	fill:var(--primary-300);
}
.button-tertiary:hover{
	background-color:var(--disable-700);
	color:var(--primary-200-clickable);
	fill:var(--primary-200-clickable);
}
.button-tertiary:active{
	color:var(--primary-600-subheader);
	fill:var(--primary-600-subheader);
}

/*второстепенные светлые прозрачные кнопки*/
.button-secondary-bright{
	background-color: var(--secondary-800-background);
	color:var(--primary-400-main);
	outline: solid var(--primary-400-main) 2px;
}

.button-secondary-bright:hover{
	color:var(--primary-200-clickable);
	outline-color:var(--primary-200-clickable);
	box-shadow: var(--glow-button-M-primary);
}

.button-secondary-bright:active{
	color:var(--primary-600-subheader);
	outline-color:var(--primary-600-subheader);
}
.button-secondary-bright:disabled{
	background-color:var(--disable-800-light-backing);
	color:var(--disable-600-non-clickable);
	outline-color:var(--disable-600-non-clickable);
	box-shadow: none;
}

/*второстепенные светлые цветные кнопки*/
.button-secondary-bright-fill{
	color: var(--primary-900-text);
	background-color:var(--primary-400-main);
}

.button-secondary-bright-fill:hover{
	background-color:var(--primary-200-clickable);
	box-shadow: var(--glow-button-M-primary);
}

.button-secondary-bright-fill:active{
	color:var(--primary-600-subheader);

}
.button-secondary-bright-fill:disabled{
	background-color:var(--disable-800-light-backing);
	color:var(--disable-600-non-clickable);
	outline-color:var(--disable-600-non-clickable);
	box-shadow: none;
	fill:var(--disable-600-non-clickable);
}

/*----------определенные кнопки---------------------------*/


.button-select-element{
	padding:0.56em;
	min-width:20.5em;
}

.button-start-mission{
	min-width: 5rem;
	padding: 0.75rem 1.5rem;
	flex-shrink: 0;
	fill:currentColor;
}

@media screen and  (max-width:812px){
	.button-start-mission{
		min-width: 45px;
		height: 45px;
	}
	.button-start-mission>span{
		display: none;
	}
}


.icon-scaling {
	min-height: max(2.2rem,30px);
	min-width: max(2.2rem,30px);
	background-color: var(--secondary-700-light-backing);
	padding: 0;
	height: min-content;
	outline: none;
}

.paging-left{
	position: absolute;
	top:50%;
	left:1rem;
}
.paging-right{
	position: absolute;
	top:50%;
	right:1rem;
}
.button-paging {
	padding: 0;
	outline: none;
	background-color: transparent;
}

.shot-button{
	text-transform: uppercase;
}

.position-top-right{
	position: absolute;
	top:1rem;
	right:1rem;
}