button{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.13rem;
	border:none;
	cursor:pointer;
}
.button-icon{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:1rem;
}
.button-content-center{
	display:flex;
	justify-content: center;
	align-items: center;
}


.button-secondary-bright{
	background-color: var(--secondary-800-background);
	color:var(--primary-400-main);
	outline: solid var(--primary-400-main) 2px;
}

.button-secondary-bright:hover{
	color:var(--primary-200-clickable);
	outline-color:var(--primary-200-clickable);
	box-shadow: var(--glow-button-M-primary);
}

.button-secondary-bright:active{
	color:var(--primary-600-subheader);
	outline-color:var(--primary-600-subheader);
}
.button-secondary-bright:disabled{
	background-color:var(--disable-800-light-backing);
	color:var(--disable-600-non-clickable);
	outline-color:var(--disable-600-non-clickable);
	box-shadow: none;
}
.button-secondary-bright-fill{
	color: var(--primary-900-text);
	background-color:var(--primary-400-main);
}

.button-secondary-bright-fill:hover{
	background-color:var(--primary-200-clickable);
	box-shadow: var(--glow-button-M-primary);
}

.button-secondary-bright-fill:active{
	color:var(--primary-600-subheader);

}
.button-secondary-bright-fill:disabled, .button-exit:disabled{
	background-color:var(--disable-800-light-backing);
	color:var(--disable-600-non-clickable);
	outline-color:var(--disable-600-non-clickable);
	box-shadow: none;
	fill:var(--disable-600-non-clickable);
}


.button-exit{
	background-color: var(--secondary-800-background) ;
	color: var(--primary-200-clickable);
	outline:  solid var(--primary-200-clickable) 1px;
	font-size:1rem;
	padding: 0.2em 0.4em;
	text-transform: uppercase;
	fill:var(--primary-200-clickable);
}
.button-exit:hover{
	color: var(--primary-100);
	box-shadow: var(--glow-button-L-light);
	fill:var(--primary-100);
}
.button-exit:active{
	color: var(--primary-100);
	color:var(--primary-900-text);
	background-color:var(--primary-400-main);
}


.icon-scaling {
	min-height: max(2.2rem,30px);
	min-width: max(2.2rem,30px);
	background-color: var(--secondary-700-light-backing);
	padding: 0;
	height: min-content;
	outline: none;
}

.paging-left{
	position: absolute;
	top:50%;
	left:1rem;
}
.paging-right{
	position: absolute;
	top:50%;
	right:1rem;
}
.button-paging {
	padding: 0;
	outline: none;
	background-color: transparent;
}

.shot-button{
	text-transform: uppercase;
}