.button-exit{
	background-color: var(--secondary-800-background);
	color: var(--primary-200-clickable);
	outline:  solid var(--primary-200-clickable) 1px;
	font-size:1rem;
	padding: 0.2em 0.4em;
	text-transform: uppercase;
	fill:var(--primary-200-clickable);
	flex-shrink: 0;
}
.button-exit:hover{
	color: var(--primary-50);
	box-shadow: var(--glow-button-L-light);
	fill:var(--primary-50);
	outline-color: var(--primary-50);
}
.button-exit:active{
	color: var(--primary-400-main);
	fill:var(--primary-400-main);
	outline-color: var(--primary-400-main);
}
.button-exit:disabled, .button-exit:disabled:hover{
	background-color: var(--disable-800-light-backing);
	color: var(--disable-600-non-clickable);
	fill:var(--disable-600-non-clickable);
	outline:none;
	box-shadow: none;
	cursor:default;
}

@media screen and  (max-width:812px){
	.button-exit{
		width:40px;
		height: 40px;
	}
	.button-exit>span{
		display: none;
	}
}