.filter{
	display:flex;
	justify-content:flex-end ;
	gap:1rem;
	margin-bottom: 2rem;
}
.filter.disabled{
	filter: contrast(60%) brightness(80%);
	pointer-events: none;
}

.diagram-filter{
	display:flex;
	background-color: var(--disable-800-light-backing);
	padding:8px;
	gap:8px;
}



.panel{
	padding:8px 12px 15px;
	background-color: var(--secondary-900-dark-backing);
	display:flex;
	flex-direction: column;
	align-items: center;
	gap:10px;
}
label>span{
	font-size:x-small;
}

.diagram-input{
	display:flex;
	gap:5px;
}
.toggle-button{
	min-height: 47px;
	min-width: 32px;
	padding:0 0.2rem;
}
.shot-button{
	padding:1rem;
	background-color: var(--primary-400-main);
}
.shot-button:hover{
	background-color: var(--primary-200-clickable);
}
.shot-button:active{
	background-color: var(--primary-200);
}
.shot-button:disabled{
	background-color: var(--disable-600-non-clickable);
}

/* квадратные кнопки */
.square{
	min-width: 47px;
	background-color: transparent;
	outline: solid var(--primary-400-main) 1.4px;
	color:var(--primary-400-main);
}

/* прямоугольные кнопки */
.rect{
	background-color: var(--secondary-500);
	color:white;
}

/* состояния кнопок */
.rect:hover, .square:hover{
	background-color: var(--primary-200-clickable);
	color:var(--secondary-800-background);
}
.rect:disabled{
	background-color: var(--disable-800-light-backing);
	color: var(--disable-300);
}
.square:disabled{
	color: var(--secondary-500);
	outline: solid var(--disable-600-non-clickable) 1.4px;
	background-color: transparent;
}
.toggle-button__selected{
	background-color: var(--primary-400-main);
	color:black;
}


/* элементы мобильной версии */
.tabs{
	display: none;
}

@media screen  and (max-width:1400px){
	.toggle-button{
		min-height: 40px;
		min-width: 27px;
	}
	.square{
		min-width: 40px;
	}
}

@media screen  and (max-width:1024px){
	.diagram-filter{
		padding: 0;
		flex-direction: column-reverse;
		background-color: var(--secondary-900-dark-backing);
	}
	.filter{
		align-items: end;
	}
	.panel{
		padding: 8px;
	}
	.l-panel, .ms-panel, .n-panel, .panel>label{
		display:none;
	}

	/*переключатели между вкладками панелей на мобильных экранах*/
	.tabs{
		display: flex;
		width:100%;
		height:35px;
		gap:3px;
	}

	.filter-tab{
		height:100%;
		width: 100%;
		background: var(--bacg-with-triangle);
		flex-grow: 1;
		justify-content: center;
		color:var(--primary-200-clickable);
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		padding: 4px 4px 4px 8px;
		gap: 5px;
		box-sizing: border-box;
	}

	.filter-tab>label{
		min-width:2rem;
		text-align:  center;
	}

	.filter-output{
		min-width:58px;
		height: 100%;
		display:flex;
		justify-content: center;
		box-sizing: border-box;
		background: var(--disable-700);
		color:var(--primary-50);
		padding-top: 8px;
	}

	.filter-tab--selected{
		background: var(--secondary-900-dark-backing);
		color: var(--primary-400-main);
	}
	.filter-tab--selected .filter-output{
		border-bottom: 2px solid var(--primary-400-main);;
	}

	.filter-tab--settled{
		background:var(--disable-700);
	}

	.filter-tab--settled .filter-output{
		background:var(--disable-600-non-clickable);
	}


	.shot-button{
		height: min-content;
		padding: 7px;
		order:-1;
	}
	.toggle-button{
		min-width:50px;
		background: transparent;
		outline:solid var(--primary-400-main) 1.4px;
		color: var(--primary-400-main);
	}
	.toggle-button__selected{
		background-color: var(--primary-400-main);
		color:black;
	}
	.toggle-button:disabled{
		outline-color:var(--disable-600-non-clickable);
	}
}


@media screen and (max-width: 600px){
	.filter{
		flex-direction: column;
	}
}

@media screen and (max-width: 420px){
	.diagram-filter{
		min-width:90vw;
	}
	.filter-output {
		min-width: 40px;
		font-size: 12px;
	}
	.filter-tab{
		padding-left:4px;
	}
	.toggle-button{
		min-width: 38px;
	}
}



