/*перенос текста на новую строку*/
.move-text{
	display:flex;
	flex-direction: column;
}

/* --------------------СТИЛИ ТЕКСТА- будут редачиться при уменьшении экрана----------------- */
.text-bold-T-Big{
	font-family: 'Montserrat';
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%;
}
.text-bold-T-Medium{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 100%;
}
/* @Tablet/Text Bold/T-Normal */
.text-bold-T-Normal{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 120%;
	letter-spacing: 0.01em;
}

.text-reg-T-r-Medium{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 100%;
	letter-spacing: 0;
}

.text-bold-T-Small{
	font-family: 'Montserrat';
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.01rem;
	line-height: 120%;
}
.text-bold-T-Tiny{
	font-family: 'Montserrat';
	font-size: 10px;
	font-weight: 700;
	line-height: 12px;
	letter-spacing: 0.08rem;
	text-align: left;
	
}
.text-icon{
	font-family: 'Montserrat';
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.08em;
	line-height: 12px;
}

.text-reg-T-m-Normal{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	letter-spacing: 0.02rem;
}

.text-reg-T-m-Small{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 120%;
	letter-spacing: 0.02rem;
}

.text-reg-T-m-Tiny{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 120%;
	letter-spacing: 0.08rem;
}
.text-long-Lt-Normal{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 132%;
	letter-spacing: 0.05rem;
}
.text-long-Lt-Small{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 132%;
	letter-spacing: 0.05rem;
}
.text-header-bold-h4{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}
.text-bold-T-XL {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 120%;
}

.text-button-B-Big{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.text-button-B-Medium{
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.text-button-B-Little{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 120%;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

.text-button-B-Tiny{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 120%;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}


.headers-bold-h5{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

@media screen and (max-height: 1366px) and (max-width:1570px){
	:root{
		font-size:14px;
	}
	.text-bold-T-Small{
		font-size:12px;
	}
	.text-header-bold-h4{
		font-size:18px;
	}
	.text-bold-T-XL{
		font-size:32px;
	}
	.text-bold-T-Big{
		font-size:20px;
	}
	.text-long-Lt-Small{
		font-size:12px;
	}
	.text-reg-T-m-Small{
		font-size:14px;
	}
	.text-button-B-Medium{
		font-size:15px;
	}
}

@media screen  and (max-width:1400px){
	:root{
		font-size:10px;
	}
	.text-bold-T-XL{
		font-size:24px;
	}
	.text-bold-T-Big{
		font-size:15px;
	}
	.text-header-bold-h4{
		font-size:16px;
	}
	.text-bold-T-Small{
		font-size:9px;
	}
	.text-reg-T-m-Small{
		font-size:10px;
	}
	.text-reg-T-m-Normal{
		font-size:10px;
	}
	.text-long-Lt-Small{
		font-size:10px;
	}
	.text-button-B-Medium, .text-long-Lt-Normal{
		font-size: 11.25px;
	}
	.text-button-B-Tiny{
		font-size: 6.25px;
	}
}
@media screen and  (max-width:1024px){
	.text-bold-T-Big{
		font-weight: 600;
	}
}
@media screen and  (max-width:812px){

	.text-button-B-Medium{
		font-size:11.25px;
	}
	
}

