.icon-info{
	background-color: var(--secondary-900-dark-backing) ;
	min-height: 0;
	min-width: 0;
	display: flex;
	align-items: flex-start;
	gap: 1em;
	z-index: 10;
}

.icon-info input {
	display:none;
}
.info-check, .info-check2{
	line-height:0;
}
.info-check::after, .info-check2::after {
	display: block;
	width: 100%;
	height: 0;
	content: "";
	padding:0;
}

.info-content{
	display:flex;
	gap: 10px;
	z-index:10;
}
.info-content__text{
	display: flex;
	flex-direction: column;
	gap:0.4em;
	max-width: calc(1rem*40);
}


@media screen  and (max-width:600px){
	.info-content__text{
		max-width: 60vw;
		min-width: 220px;
	}
}