
/* размеры контента страницы */
.results-content{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	justify-content: center;
	align-items: center;
	gap:2rem;

}

/* заголовок страницы */
.results-header{
	display:flex;
	align-items: center;
	gap:2rem;
}

/* картинки в заголовке */
.icon-results-decoration{
	height: 3.4rem;
	width: 7.5rem;
}

/* состояния картинкок */
.result-winner{
	fill: var(--primary-400-main);
}
.result-loser{
	fill: var(--disable-500);
}

/* блок сведений о статистике игроков*/
.game-results{
	color: var(--secondary-100-text);
	display: flex;
	gap:2rem;
	margin-bottom: 5rem;
	justify-content: stretch;
	max-width: 93.125rem;
}

.player{
	display: flex;
	flex-direction: column;
	gap:1rem;
	flex-basis:29.375rem; 
	flex-shrink: 1;
	flex-grow: 2;
}

.result, .result-time{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.result{
	gap:1.2rem;
	justify-content: center;
	flex-shrink: 5;
	flex-basis:10.625rem; 
	flex-grow: 1;
}
.result-time{
	gap:0.5rem;
}

.player-result-card{
	background-color: var(--secondary-900-dark-backing);
	padding:0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;	
}

.player-info{
	display:flex;
	gap:1rem;
	/* box-sizing: border-box; */
}

/* фото игрока*/
.profile-item-card{
	width:6rem;
	height:6rem;
}

.name{
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-self: center;
	gap:0.5rem;
	
}

/* загаданный элемент*/
.pl-element{
	display:flex;
	flex-direction: column;
	flex-basis:4rem;
	flex-shrink: 0;
	height:4rem;
	padding:0.3rem;
	box-sizing: border-box;
	border: 2px solid var(--secondary-100-text);
}

.text-style{
	color: var(--primary-400-main);
	text-transform: uppercase;
	text-align: center;
}

.game-progress{
	display: flex;
	align-items: center;
	gap:1rem;
	padding:0.5rem;
}

.level{
	width:2rem;
	height:2rem;
	flex-shrink: 0;
	border-radius: 50%;
	background-color: var(--disable-600-non-clickable);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* числа статистики */
.statistics{
	display: flex;
	gap:1rem;
}
.st-right{
	justify-content: flex-end;
}

.mini-info{
	background-color: var(--secondary-900-dark-backing);
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:0.5rem;
}
.value{
	font-size: 2em;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap:0.5rem;
}

/* кнопки действий*/
.actions{
	min-width: 23rem;
	display:flex;
	flex-direction: column;
	gap:1rem;
}
.act-button{
	height:3.125rem;
}


@media screen and (max-width: 1400px){
	.icon-results-decoration{
		display: none;

	}
	.pl-element{
		border-width: 1px;
	}
}
@media screen and  (max-width:1024px){
	.results-content{
		padding: 0 2%;
		transition: padding 0.5s;
	}
}

@media screen and  (max-width:812px){
	.game-results{
		margin-bottom: 0rem;
		gap:1rem;
		transition: margin-bottom 1s,gap 0.5s ease-in;
	}

}

@media screen and  (max-width:600px){
	.game-results{
		flex-direction: column;
	}
	.statistics{
		justify-content: center;
	}
	.actions{
		margin-top:2rem;
		transition: margin 0.5s;
	}
	.player{
		flex-basis:0;
	}
}
@media screen and  (max-width:520px){
	.results-content{
		padding: 0 5%;
		transition: padding 1s ease-in;
	}
}

@media screen and (max-height:520px) and (max-width:1024px){ 
	.game-results{
		margin-bottom:0;
		transition: margin-bottom 0.5s ease-in;
	}
}
@media screen and (max-height: 375px) and (max-width:812px){
	.results-header{
		margin:0;
		transition: margin 0.5s ease-in;
	}
}
@media screen and (max-height:812px) and (max-width:375px){
	.result{
		flex-basis:0;
		transition: flex-basis 0.5s ease-in;
	}
	.results-header{
		margin:0;
		transition: margin 0.5s ease-in;
	}
	.body2{
		min-height: 640px;
	}

}