
/* размеры контента страницы */
.results-content{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	justify-content: center;
	align-items: center;
	gap:2rem;
	max-width: 73.125rem;
}

/* заголовок страницы */
.results-header{
	display:flex;
	align-items: center;
	gap:2rem;
}

/* картинки в заголовке */
.icon-results-decoration{
	height: 3.4rem;
	width: 7.5rem;
}

/* состояния картинкок */
.result-winner{
	fill: var(--primary-400-main);
}
.result-loser{
	fill: var(--disable-500);
}

/* блок сведений о статистике игроков*/
.game-results{
	color: var(--secondary-100-text);
	display: flex;
	gap:2rem;
	margin-bottom: 5rem;

}

.player{
	display: flex;
	flex-direction: column;
	gap:1rem;
}

.result, .result-time{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 10.625rem;
}

.player-result-card{
	background-color: var(--secondary-900-dark-backing);
	padding:0.5rem;
	gap: 1rem;
}

.player-info{
	display:flex;
	gap:1rem;
	/* box-sizing: border-box; */
}

/* фото игрока*/
.profile-item-card{
	width:6rem;
	height:6rem;
}

.name{
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-self: center;
	gap:0.5rem;
}

/* загаданный элемент*/
.pl-element{
	display:flex;
	flex-direction: column;
	flex-basis:4rem;
	flex-shrink: 0;
	height:4rem;
	padding:0.3rem;
	border: 2px solid var(--secondary-100-text);
}

.text-style{
	color: var(--primary-400-main);
	text-transform: uppercase;
	text-align: center;
}

/* числа статистики */
.statistics{
	display: flex;
	gap:1rem;
}

.mini-info{
	background-color: var(--secondary-900-dark-backing);
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:0.5rem;
}
.value{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap:0.5rem;
	font-size: 2em;
}

/* кнопки действий*/
.actions{
	display:flex;
	flex-direction: column;
	gap:1rem;
	min-width: 23rem;
}
.act-button{
	height:3.125rem;
}


@media screen and (max-height: 1400px){
	.icon-results-decoration{
		display: none;
	}
}

@media screen and  (max-width:812px){
	.game-results{
		margin-bottom: 0rem;
	}
	.results-content{
		padding: 0 5%;
	}
}

@media screen and  (max-width:600px){
	.game-results{
		flex-direction: column;
	}
	.result-time{
		flex-basis: content;
	}
	.statistics{
		justify-content: center;
	}
	.actions{
		margin-top:2rem;
	}
}

@media screen and (max-height:520px) and (max-width:1024px){ 
	.game-results{
		margin-bottom:0;
	}
}