
/* дизайн прокрутки в chrome и opera */
::-webkit-scrollbar {
	width: 8px;
	height:8px;
}
::-webkit-scrollbar-track {
	background-color:var(--disable-500);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color:var(--primary-200-clickable);
}

::-webkit-scrollbar-thumb:hover {
	background-color:var(--primary-100);
}
::-webkit-scrollbar-thumb:active {
	background-color:var(--primary-300);
}

@media screen  and (max-width:1024px){
	::-webkit-scrollbar {
		width: 5px;
		height:5px;
	}
	::-webkit-scrollbar-track {
		border-radius: 8px;
	}
	
}