.container-table{
	display:grid;
	grid-template-columns: 1.95rem repeat(18, 3.8rem);
	grid-template-rows:  repeat(8,3.8rem) 1.2rem repeat(2,3.8rem);
	overflow:auto;
	max-width: 100%;
	padding:1rem;
	box-sizing: border-box;
}
.cell{
	display:flex;
	flex-direction: column;
	font-size: 14px;
}

.selected-element{
	grid-area: 1 /6/ 3 /13;
	display:grid;
	grid-template-columns: 2.2fr 5fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 1.8rem;
	grid-row-gap: 1rem;
	box-sizing: border-box;
}
.element-preview{
	outline: solid var(--secondary-100-text) 2px;
	grid-area: 1 /1/ 3 /2;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.8rem;

}
.selected-element__name,.selected-element__number{
	display:flex;
	flex-direction: column;
	gap:0.3rem;
}
.ammunition{
	display:flex;
	align-items: center;
	gap:0.8rem;
}
.ammunition__img{
	height: 2.25rem;
	width: 2.25rem;
}

/*ячейки с элементами*/
.element{
	border: 1px solid var(--primary-600-subheader);
	padding: 3px;
	background-color: var(--disable-800-light-backing);
	color: var(--primary-200-clickable);
	cursor: pointer;
}

/*ячейка выбранная и обычная при наведении*/
 .element:hover{
	background-color: var(--primary-700);
	color: var(--primary-200-clickable);
}

.element--selected{
	background-color: var(--primary-400-main);
	color: var(--primary-900-text);
}

.element--selected:hover{
	background-color: var(--primary-200-clickable);
	color: var(--primary-900-text);
}

.element:active{
	background-color:var(--primary-600-subheader);
	color:var(--primary-900-text);
}

.element--disabled, .element--disabled:hover,.element--disabled:active{
	background-color: var(--secondary-800-background);
	color: var(--disable-700);
	cursor: default;
}
.element--disabled.element--selected{
	background-color: var(--disable-700);
	color: var(--disable-900);
}

.element--exception{
	background-color: var(--jewel);
}





.element__name, .element-preview__symbol{
	align-self: center;
}
.element-preview__name{
	align-self:center;
}

.period{
	color:var(--secondary-300-subelement);
	justify-content: center;
	font-weight: 700;
	font-size: 14px;

}

.group{
	color:var(--secondary-300-subelement);
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 14px;

}

/*отступ между 7 и 8 строкой*/
.gap{
	height:2vh;
	grid-column: 1 / -1;
}

